.item-gallery {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--background-color);
  padding: 0 16px;
  gap: 95px 12px;
}

// .item-gallery::before {
//   content: '';
//   border-top: 102px
//     linear-gradient(to bottom, rgba(13, 13, 13, 0.19), rgba(14, 14, 14, 0.8));
// }

.item-card {
  display: flex;
  flex-direction: column;
  margin-top: -60px;
  min-height: 300px;
  max-width: 288px;
}

.image-wrapper::after {
  content: '';
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  transform: translate(-202px, -19px);
  z-index: 0;
  width: 227px;
  height: 220px;
}

.image-wrapper img {
  z-index: 1;
  position: relative;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 220px;
  object-fit: cover;
}

.item-info {
  display: flex;
  flex-direction: column;
  max-width: 267px;
  gap: 8px;
  padding-top: 8px;
  text-align: center;
}

.item-title {
  display: flex;
  flex-wrap: wrap;
  color: var(--main-text-color);
  font-weight: bold;
  
}

.item-date,
.item-location {
  color: var(--secondary-text-color);
}

.item-location {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 14px;
}

.item-location svg {
    display: flex;
}

body > div.item-gallery > div:nth-child(1) > a > div::after,
body > div.item-gallery > div:nth-child(7) > a > div::after,
body > div.item-gallery > div:nth-child(9) > a > div::after,
body > div.item-gallery > div:nth-child(10) > a > div::after,
body > div.item-gallery > div:nth-child(16) > a > div::after {
  z-index: 1;
}

body > div.item-gallery > div:nth-child(8) > a > div::after,
body > div.item-gallery > div:nth-child(13) > a > div::after {
  height: 140px;
  z-index: 1;
}

// body {
//     border-left: 1px solid var(--stroke-color);
//     border-right: 1px solid var(--stroke-color);
//     position: relative;
//     left: 115px;
//     right: 115px;
// }

@media screen and (max-width: 767px) {
  .item-gallery {
    padding: 0 32px;
    row-gap: 15px;
  }

  .image-wrapper img {
    width: 141px;
    height: 120px;
  }

  .image-wrapper::after {
    transform: translate(-109px, -10px);
    width: 120px;
    height: 112px;
  }

  .item-card {
    top: -85px;
    max-width: 152px;
    min-height: 223px;
  }

  .item-info {
    gap: 4px;
  }

  .item-title {
    font-size: 14px;
  }
  .item-date,
  .item-location {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {}
