<body>
  <div class="card-container">
    <div class="card1">
      <img src="assets/images/Eurovision" alt="Event Image 1" />
      <h2>Eurovision 2021 finals!</h2>
      <h3>2021-05-13</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        Palace of Ukraine
      </p>
    </div>
    <div class="card2">
      <img src=".assets/images/Atlasweekend" alt="Event Image 2" />
      <h2>Atlas Weekend</h2>
      <h3>2021-06-09</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        VDNH
      </p>
    </div>
    <div class="card3">
      <img src="assets/images/LP" alt="Event Image 3" />
      <h2>LP</h2>
      <h3>2021-07-27</h3>
      <p class="pin-location">
        <img
          class="icon-location"
          src="assets/iccon/location1"
          alt="Location"
        />
        Palace of Ukraine
      </p>
    </div>
    <div class="card4">
      <img src="assets/images/MONATIK" alt="Event Image 4" />
      <h2>MONATIK</h2>
      <h3>2021-07-17</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        VDNH
      </p>
    </div>
    <div class="card5">
      <img src="assets/images/MONATIK" alt="Event Image 5" />
      <h2>MONATIK</h2>
      <h3>2021-07-17</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        VDNH
      </p>
    </div>
    <div class="card6">
      <img src="assets/images/LP" alt="Event Image 6" />
      <h2>LP</h2>
      <h3>2021-07-27</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        Palace of Ukraine
      </p>
    </div>
    <div class="card7">
      <img src="assets/images/Atlasweekend" alt="Event Image 7" />
      <h2>Atlas Weekend</h2>
      <h3>2021-06-09</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        VDNH
      </p>
    </div>
    <div class="card8">
      <img src="assets/images/Eurovision" alt="Event Image 8" />
      <h2>Eurovision 2021 finals!</h2>
      <h3>2021-05-13</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        Palace of Ukraine
      </p>
    </div>
    <div class="card9">
      <img src="assets/images/Atlasweekend" alt="Event Image 9" />
      <h2>Atlas Weekend</h2>
      <h3>2021-06-09</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        VDNH
      </p>
    </div>
    <div class="card10">
      <img src="assets/images/Eurovision" alt="Event Image 10" />
      <h2>Eurovision 2021 finals!</h2>
      <h3>2021-05-13</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        Palace of Ukraine
      </p>
    </div>
    <div class="card11">
      <img src="assets/images/MONATIK" alt="Event Image 11" />
      <h2>MONATIK</h2>
      <h3>2021-07-17</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        VDNH
      </p>
    </div>
    <div class="card12">
      <img src="assets/images/LP" alt="Event Image 12" />
      <h2>LP</h2>
      <h3>2021-07-27</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        Palace of Ukraine
      </p>
    </div>
    <div class="card13">
      <img src="assets/images/Eurovision" alt="Event Image 13" />
      <h2>Eurovision 2021 finals!</h2>
      <h3>2021-05-13</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        Palace of Ukraine
      </p>
    </div>
    <div class="card14">
      <img src="assets/images/MONATIK" alt="Event Image 14" />
      <h2>MONATIK</h2>
      <h3>2021-07-17</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        VDNH
      </p>
    </div>
    <div class="card15">
      <img src="assets/images/LP" alt="Event Image 15" />
      <h2>LP</h2>
      <h3>2021-07-27</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        Palace of Ukraine
      </p>
    </div>
    <div class="card16">
      <img src="assets/images/Atlasweekend" alt="Event Image 16" />
      <h2>Atlas Weekend</h2>
      <h3>2021-06-09</h3>
      <p class="pin-location">
        <img class="icon-location" src="assets/icon/location1" alt="Location" />
        VDNH
      </p>
    </div>
  </div>
</body>
